.edit-product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 5%;
  width: calc(100% - 250px); /* Adjusted width to accommodate sidebar */
}

.edit-product-content {
  width: 70%; /* Adjusted width for the main content */
}

.edit-product-container h2 {
  text-align: center;
}

.edit-product-container form {
  display: grid;
  gap: 10px;
}

.edit-product-container label {
  font-weight: bold;
}

.edit-product-container input,
.edit-product-container select,
.edit-product-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-product-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
}

.edit-product-container button:hover {
  background-color: #0056b3;
}

.image-item {
  display: grid;
  gap: 10px;
}

.product-image {
  width: 500px;
  height: 400px;
  border-radius: 5px;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
}
